<template>
    <div>
        <h2>Login</h2>
        <form>
            <input required type="email" placeholder="email" v-model="email">
            <input required type="password" placeholder="password" v-model="password">
                    
            <button type="submit">Login</button>
        </form>
       
    </div>

</template>
<script>

export default({
    data(){
        return{
            email:'',
            password:''
        }
    },
    methods:{
        async login(e){
            e.preventDefault();
            let email = this.email;
            let password = this.password;
            await this.$store.dispatch('login', {email, password});

        }
    }
})
</script>


