<template>
    <div>
        <template v-if="access">
            <form @submit="register">
                <input type="text" placeholder="name" v-model="name">
                <input type="email" placeholder="email" v-model="email">
                <input type="password" placeholder="password" v-model="password">
                <input type="text" placeholder="user name" v-model="username">
                <button type="submit" :disabled="name.length < 6 || password.length < 6 || username.length < 3">sign up</button>
            </form>
        </template>
        <template v-else>
            <form @submit="getAccess">
                <input type="password" v-model="key" placeholder="access key">
                <button type="submit">show sign up form</button>
            </form>
        </template>
    </div>

</template>
<script>
    import axios from "axios";
    export default {
        /*
        created() {
            axios.get("https://jsonplaceholder.typicode.com/todos/1").then((result) => {
                console.log(result.data);
            })
        
        }
        */
        data(){
            return {
                name:'',
                email:'',
                password:'',
                username:'',
                key:'',
                access:false
            }
        },
        methods: {
            async register(e){
                try{
                    e.preventDefault();
                    let result = await axios.post('http://lvh2.com:1337/api/auth/local/register', {
                        name:this.name,
                        password:this.password,
                        email:this.email,
                        username:this.username
                    });
                    console.log(result);
                }catch(e){
                    console.log(e);
                }
            },
            getAccess(e){
                e.preventDefault();
                if(this.key=='test'){
                    this.access = true;
                }
            }
        }
    };


</script>